<div align="center" >
<div style="width:80%; text-align：justify; border:1px dashed #000; padding:5px;">
  <!--<h3 style="text-align:justify; text-justify:inter-ideograph;text-indent:2em">凡通过下面淘口令购买者，宝贝评价成功后均可获得成交价格<span style="color:red;font-weight:bold;">10%</span>的返利红包！</h3>
  <h3 style="color:red;font-weight:bold;">返利红包获得方式：</h3>
  <h3 style="text-align:justify; text-justify:inter-ideograph;text-indent:2em">扫面下方二维码（或搜索微信号：hotsale2015），关注该公众号，回复订单号和支付宝账号，回复格式为"订单号：2015010111111，支付宝账号：xxxxxx@qq.com"，经系统审核后，将通过回复的支付宝账号返利！</h3>
 -->
 <h3 style="color:black;font-weight:bold;">更多精品请关注"潮我看"，微信搜索：hotsale2015，或扫描下方二维码</h3>
 <img style="width:250px;height:250px" src="{{ site.baseurl }}/img/tubiao.jpg" />
  </div>
</div>
