@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
pre {
    margin:15px auto;
    padding:20px 15px;
    border:1px solid #ddd;
    border-left:4px solid #58749c;
    white-space:pre-wrap;
    word-wrap:break-word;
    letter-spacing:1.5px;
    font:13px/25px 'Comic Sans MS','courier new';
    line-height:22px;
    background-size:100% 44px
}
.frame{

    overflow: hidden;
    margin: 0px auto;
	background-color:#F8F8F8;
		article{
			margin:0px auto;
			background-color:#F8F8F8;
			display:block;
			float:left;
		}
	}

.ptitle{
	padding-top:50px;
	padding-left:50px;
	
	}
.pubtime{
	margin-left:50px;
	margin-right:50px;
	margin-top:20px;
	border-bottom-style:dotted;
	border-width:1px;
	border-color:#666;
	}
.contant{

	text-indent:2em;
	/*text-align:justify;*/
	text-justify:inter-ideograph;
	margin-top:30px;
	line-height:30px;
		code{
			/*border: dashed 1px #22C3AA;
			color: #157A6B;
			padding: 2px 8px;
			margin: 5px 0;
			font-size: 90%;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			font-family: Consolas,"Courier New",Courier;
			text-shadow: none;
			background-color: #EEF3F0;
			word-wrap: break-word;
			white-space: pre;*/
		
			background-color:rgb(207,207,207);
		border:dashed 1px #666;
		text-height:font-size;
		padding: 2px 8px 2px 2px;
		white-space:pre;
		}
		a{
		font-weight:bold;
			&:link{
				color:red;
				text-decoration:none;
			}
			&:visited{
				color:red;
				text-decoration:none;
			}
			&:hover{
				color:green;
				text-decoration:none;
			}
		
		}
		
	}

code{
		/*border: dashed 1px #22C3AA;
		color: #157A6B;
		padding: 2px 8px;
		margin: 5px 0;
		font-size: 90%;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		font-family: Consolas,"Courier New",Courier;
		text-shadow: none;
		background-color: #EEF3F0;
		word-wrap: break-word;
		white-space: pre;*/
		background-color:rgb(207,207,207);
		border:dashed 1px #666;
		text-height:font-size;
		padding: 2px 8px 2px 2px;
		white-space:pre;
		font-family:Times New Roman;
	
		margin:0 atuo;
		}
p{
	display:block;
	font-family: Lato,"Microsoft YaHei",sans-serif;
    font-size: 1.1rem;
    line-height: 1.8em;
    margin: 1em 0;
    color: #333;
}
