@charset "UTF-8";
hr{ 
height:1px;
border:none;
border-top:1px dashed #0066CC;
} 
.lianjie {
	color: #000;
	padding-top: 0;
	font-family:微软雅黑;
	a{
		&:visited{
		color:#000000;
		text-decoration: none;
		}
		&:link{
		text-decoration: none;
		}
		&:hover{
		color: #000;
		text-decoration: none;
		}
		
		
	}
}
.beijing {
	border-color: #060;
	background-color: #FC0;
	height: 50px;
	width: 60px;
	font: 15pt, 微软雅黑;
}
